.header {
  background-color: var(--primary);
  color: var(--white);
  text-align: right;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

a {
  color: var(--white);
  text-decoration: none;
  padding-right: 20px;
}

span {
  display: inline-block;
}

.mat-icon {
  margin: 0;
  padding: 0;
}
