.header {
  background-color: var(--primary);
  text-align: right;
  padding-top: 10px;
  text-shadow: 1px 1px var(--black);
  font-weight: 600;
}

a {
  color: var(--white);
  text-decoration: none;
}

span {
  display: inline-block;
}

.mat-icon {
  margin: 0;
  padding: 0;
}
