* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#summary {
    position: relative;
    display: inline-block;
    padding: 1.5rem 12rem 2rem 2rem;
    margin: 1rem 5%;
    border: solid rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px black;
}

.tag {
    color:var(--blue);
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem var(--gray);
}

.value {
    font-weight: bold;
    margin-left: 1rem;
}

.number {
    position: absolute;
    margin-right: 1rem;
    right: 0rem;
}

.period {
    position: absolute;
    right: 0rem;
    padding-right: 1rem;
}

#customer {
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem var(--gray);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.customer {
    display: inline-block;
    text-align: center;
}

.line {
    border: 0.1rem solid var(--black);
}
