<div id="summary" *ngIf="show">
    <p id="customer"> 
        <span class="customer"> {{this.customer}} </span> 
    </p>
    <hr class="line">

    <br>
    <p> 
        <span class="tag"> CLM Efectivo: </span> 
        <span class="value number"> {{this.clm_effective | number: '2.2-4'}} </span> 
    </p>
    <p> 
        <span class="tag"> Producción: </span> 
        <span class="value number"> {{this.production | number: '3.2-4'}} </span> 
    </p>
    <p> 
        <span class="tag"> Productividad: </span> 
        <span class="value number"> {{this.productivity | number: '1.2-4'}} </span> 
    </p>
    <p class="period"> 
        <span class="tag"> Periodo: </span> 
        <span class="value"> {{this.period}} </span> 
    </p>
</div>
