#summary {
    position: absolute;
    padding: 1rem 12rem 2rem 2rem;
    margin-right: 2rem;
    right: 0rem;
    border: solid var(--black);
}

.tag {
    color:var(--blue);
    font-weight: bold;
    text-shadow: 1px 1px var(--gray);
}

.value {
    font-weight: bold;
}

.period {
    position: absolute;
    right: 0rem;
    padding-right: 1rem;
}