<div id="summary">
    <p> 
        <span class="tag"> Cliente: </span> 
        <span class="value"> {{this.customer}} </span> 
    </p>
    <p> 
        <span class="tag"> CLM Efectivo: </span> 
        <span class="value"> {{this.clm_effective}} </span> 
    </p>
    <p> 
        <span class="tag"> Producción: </span> 
        <span class="value"> {{this.production}} </span> 
    </p>
    <p> 
        <span class="tag"> Productividad: </span> 
        <span class="value"> {{this.productivity}} </span> 
    </p>
    <p class="period"> 
        <span class="tag"> Periodo: </span> 
        <span class="value"> {{this.period.toLocaleDateString("es-CL")}} </span> 
    </p>
</div>
