<div class="imbox-contract">
  <h2 class="imbox-contract--title">Bandeja Aprobación de contratación</h2>

  <mat-card>Datos del Colaborador</mat-card>

  <form [formGroup]="formFilter" (submit)="ngSubmit()">
    <app-imbox-filter
      formControlName="filterForm"
      class="imbox-contract--filters"
      [disabled]="true"
    ></app-imbox-filter>

    <div class="dib">
      <div class="imbox-contract--buttons">
        <button mat-raised-button color="primary" type="submit">Buscar</button>
        <button
          mat-raised-button
          color="basic"
          (click)="onCancel()"
          type="button"
        >
          Limpiar
        </button>
      </div>
    </div>
  </form>

  <!-- <app-table-imbox
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
  ></app-table-imbox> -->

  <div class="imbox-contract--table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="dateReg">
        <th mat-header-cell *matHeaderCellDef>F. Reg</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha_reg }}</td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre_corto }}</td>
      </ng-container>

      <ng-container matColumnDef="businessLine">
        <th mat-header-cell *matHeaderCellDef>LN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cod_linea_negocio }}
        </td>
      </ng-container>

      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef>Puesto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.puesto | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="docNumber">
        <th mat-header-cell *matHeaderCellDef>Nro Doc.</th>
        <td mat-cell *matCellDef="let element">{{ element.nro_documento }}</td>
      </ng-container>

      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef>Nombres y apellidos</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre_apellidos | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="modality">
        <th mat-header-cell *matHeaderCellDef>Modality</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modalidad | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.remuneracion | currency: "S/ ":"symbol":"1.0" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef>Bono</th>
        <td mat-cell *matCellDef="let element">
          {{ element.bono_men || 0 | currency: "S/ ":"symbol":"1.0" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="eps">
        <th mat-header-cell *matHeaderCellDef>EPS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cod_eps ? "SI" : "NO" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sctr">
        <th mat-header-cell *matHeaderCellDef>Sctr</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ind_sctr === "N" ? "NO" : "SI" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
      </ng-container>

      <ng-container matColumnDef="dateApproval">
        <th mat-header-cell *matHeaderCellDef>F. Aprobación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fecha_aprob || "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Accion</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/">APROBAR</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="pagination--container">
    <mat-paginator
      [pageSizeOptions]="[10, 15, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<!-- <br />
<br />
<br />
<h2>formFilter</h2>
<pre>
  {{ formFilter.value | json }}
  valid:{{ formFilter.valid | json }}

</pre> -->
