$width_page: 90%;

.imbox-contract {
  width: $width_page;
  margin: 15px auto 0 auto;

  & form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: relative;

    & app-imbox-filter {
      margin: auto;
      & .filter {
        width: 100%;
      }
    }

    .imbox-contract--buttons {
      display: flex;
      width: max-content;
      margin-left: auto;

      & button:nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}

.dib {
  display: inline-block;
  float: right;
}

@media (max-width: 1230px) {
  .imbox-contract {
    & form {
      & .imbox-contract--buttons {
        display: block;
      }
    }
  }
}

// Imbox

.imbox-contract {
  & .imbox-contract--table {
      & table {
        margin-top: 70px;
        width: 100%;
      }
  }
}
