@import "../../../assets/scss/variables.scss";

.service-form{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  padding: 1.5rem;
  column-gap: 0.75rem;
}

mat-form-field{
  width: 90%;
}

button{
  color: var(--white);
}

/* Eliminar flechas de number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { //Firefox
  -moz-appearance: textfield;
}
/* ----------------------------------- */

/* Eliminar fondo gris de inputs con aspecto fill */

::ng-deep.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: transparent;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

/* ------------------------------------------------------- */

//Desactivar color gris de etiquetas en disabled
::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
  color: rgba(0,0,0);
}

::ng-deep .mat-input-element:disabled,
 .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0,0,0);
}

.circle{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
}

.status{
  display: block;
  margin: 0;
}

.error-hint{
  color: var(--red);
}

.save-btn{
  background-color: var(--primary);
  grid-column-start: 3;
  grid-row-start: 6;
  justify-self: center;
}

.cancel-btn{
  background-color: var(--red);
  grid-column-start: 4;
  grid-row-start: 6;
  justify-self: center;
}

.sale-value-input{
  text-align: right;
}

.rate{
  padding: .75em .75em 0 0;
}

.status-container{
  display: flex;
  align-items: center;
}

.col1{
  grid-column-start: 1;
  justify-self: left;
}

.col1-long{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: left;
}

.col2{
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: left;
}

.col2-long{
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: left;
}

.col3{
  grid-column-start: 3;
  justify-self: left;
}

.col4 {
  grid-column-start: 4;
  justify-self: start;
}

.col4-long{
  grid-column: 5 / span 2;
  justify-self: center;
}

.col5 {
  grid-column-start: 5;
  justify-self: right;
}

.col5-long {
  grid-column: 5 / span 2;
  justify-self: center;
}

.col6{
  grid-column-start: 6;
  justify-self: end;
}

.row1{
  grid-row-start: 1;
}

.row2{
  grid-row-start: 2;
}

.row3{
  grid-row-start: 3;
}

.row4{
  grid-row-start: 4;
}

.row5{
  grid-row-start: 5;
}

.row6{
  grid-row-start: 6;
}

