@import "../../../assets/scss/variables.scss";

.service-form{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(5, 5fr);
  align-items: center;
  padding: 1.5rem;
}

mat-form-field{
  width: 90%;
}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0;
}

button{
  color: var(--white);
}

/* Eliminar flechas de number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { //Firefox
  -moz-appearance: textfield;
}
/* --------------- */

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.error-hint{
  color: var(--red);
}

.save-btn{
  background-color: var(--primary);
}

.cancel-btn{
  background-color: var(--red);
}

.sale-value-input{
  text-align: right;
}

.col1{
  grid-column-start: 1;
  justify-self: left;
}

.btn-area{
  grid-column-start: 2;
  display: flex;
  justify-content: space-evenly;
}

.short-container{
  width: 90%;
  display: flex;
}

.col2{
  grid-column-start: 2;
  justify-self: center;
}

.col3{
  grid-column-start: 3;
  justify-self: right;
}

.short-field{
  width: 40%;
}

.col4 {
  grid-column-start: 4;
}

.col5{
  grid-column-start: 5;
}

.row1{
  grid-row-start: 1;
}

.row2{
  grid-row-start: 2;
}

.row3{
  grid-row-start: 3;
}

.row4{
  grid-row-start: 4;
}

.row5{
  grid-row-start: 5;
}
