<p>Datos del servicio</p>
<div class="form-container">
  <form class="service-form">

    <mat-label class="col1 row1 client-label">Cliente</mat-label>
    <mat-select class="col2 row1 client-input">
      <mat-option>
      </mat-option>
    </mat-select>

    <mat-label class="col1 row2 service-label">Servicio</mat-label>
    <input type="text" class="col2 row2 service-input">

    <mat-label class="col1 row3 sale-hours-label">Horas venta</mat-label>
    <input type="text" class="col2 row3 sale-hours-input">

    <mat-label class="col1 row4 status-label">Estado registro</mat-label>
    <input type="text" disabled class="col2 row4 status-value">

    <mat-label class="col3 row1 business-label">Línea de negocio</mat-label>
    <mat-select class="col4 row1 business-input">
      <mat-option></mat-option>
    </mat-select>

    <mat-label class="col3 row2 start-date-label">Fecha de inicio</mat-label>
    <input type="date" class="col4 row2 start-date-input">

    <mat-label class="col3 row3 currency-label">Moneda</mat-label>
    <mat-select class="col4 row3 currency-input">
      <mat-option></mat-option>
    </mat-select>

    <mat-label class="col3 row4 payment-method-label">Forma de pago</mat-label>
    <mat-select class="col4 row4 payment-method-input">
      <mat-option></mat-option>
    </mat-select>

    <mat-label class="col5 row1 service-type">Tipo de servicio</mat-label>
    <mat-select class="col6 row1 service-type-input">
      <mat-option></mat-option>
    </mat-select>

    <mat-label class="col5 row2 end-date-label">Fecha de fin</mat-label>
    <input type="date" class="col6 row2 end-date-input">

    <mat-label class="col5 row3 sale-value-label">Valor de venta</mat-label>
    <input type="text" class="col6 row3 sale-value-input">
    <button class="row5 col3">Guardar</button>
    <button class="row5 col4">Cancelar</button>
  </form>

</div>

