<p>Datos del servicio</p>
<mat-card class="form-container mat-elevation-z6">
  <form #serviceForm = "ngForm" (ngSubmit)="submitForm()" class="service-form" >
    <mat-form-field appearance="outline">
      <mat-label class="client-label">Cliente</mat-label>
      <mat-select class="client-input" #validClient="ngModel" [(ngModel)]="formData.cod_cliente" name="cod_cliente"
      [(value)]="selectedClient" required>
        <mat-option *ngFor="let client of clients" [value]="client.cod_cliente">
          {{ client.nombre_corto }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validClient.invalid && (validClient.dirty || validClient.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field class="col2" appearance="outline">
      <mat-label class="business-label">Línea de negocio</mat-label>
      <mat-select class="business-input" #validServiceLine="ngModel" [(ngModel)]="formData.cod_linea_servicio" name="cod_linea_servicio"
       (selectionChange)="loadServiceTypes($event.value)"
       [(value)]="selectedServiceLine" required>
        <mat-option *ngFor="let serviceLine of serviceLines" [value]="serviceLine.cod_linea_servicio">
          {{ serviceLine.linea_servicio  | titlecase }} ({{ serviceLine.cod_linea_servicio | uppercase }})
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validServiceLine.invalid && (validServiceLine.dirty || validServiceLine.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field class="col3" appearance="outline">
      <mat-label class="service-type">Tipo de servicio</mat-label>
      <mat-select class="service-type-input" #validServiceType="ngModel" [(ngModel)]="formData.tipo_servicio" name="tipo_servicio"
      (selectionChange)="loadPaymentMethods($event.value)"
      [(value)]="selectedServiceType" required [disabled]="selectedServiceLine ? false : true">
        <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.cod_tipo_servicio">
          {{ serviceType.nombre_tipo_servicio  | titlecase }} ({{ serviceType.cod_tipo_servicio | uppercase }})
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validServiceType.invalid && (validServiceType.dirty || validServiceType.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label class="service-label">Nombre de Servicio</mat-label>
      <input name="descripcion_servicio" #validServiceDescription="ngModel" [(ngModel)]="formData.descripcion_servicio" required
      name="descripcion_servicio" matInput type="text" class="service-input">
      <mat-hint *ngIf="validServiceDescription.invalid && (validServiceDescription.dirty || validServiceDescription.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <div class="short-container">
      <mat-form-field class="col2 short-field" appearance="outline">
        <mat-label class="start-date-label">Fecha de inicio</mat-label>
      <input [(ngModel)]="formData.fecha_ini_planificada" #validStartDate="ngModel" required name="fecha_ini_planificada"
      matInput type="date" class="start-date-input">
      <mat-hint *ngIf="validStartDate.invalid && (validStartDate.dirty || validStartDate.touched)" class="error-hint">Campo requerido</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field class="col3 short-field" appearance="outline">
      <mat-label class="end-date-label">Fecha de fin</mat-label>
      <input [(ngModel)]="formData.fecha_fin_planificada" #validEndDate="ngModel" min="{{serviceForm.value.fecha_ini_planificada}}" required name="fecha_fin_planificada"
      matInput type="date" class="end-date-input">
      <mat-hint *ngIf="validEndDate.invalid && (validEndDate.dirty || validEndDate.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label class="sale-hours-label">Horas venta</mat-label>
      <input  [(ngModel)]="formData.horas_venta" #validSaleHours="ngModel" name="horas_venta" required matInput type="number"
      class="sale-hours-input">
      <mat-hint *ngIf="validSaleHours.invalid && (validSaleHours.dirty || validSaleHours.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field class="col2 short-field" appearance="outline">
      <mat-label class="currency-label">Moneda</mat-label>
      <mat-select  [(ngModel)]="formData.moneda" #validCurrency="ngModel" required name="moneda" class="currency-input">
        <mat-option *ngFor="let currency of currencies" [value]="currency.viewValue">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validCurrency.invalid && (validCurrency.dirty || validCurrency.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field class="col3" appearance="fill" floatLabel="always">
      <mat-label class="sale-value-label">Costo de venta {{ formData.moneda === 'SOL' ? 'en soles' : 'en dolares' }}</mat-label>
      <input  [(ngModel)]="formData.costo_venta" #validCostValue="ngModel" name="costo_venta" required matInput type="number"
      class="sale-value-input">
      <span matPrefix>{{ formData.moneda === 'SOL' ? 'S/.' : '$' }}&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-hint *ngIf="validCostValue.invalid && (validCostValue.dirty || validCostValue.touched)" class="error-hint">Campo requerido</mat-hint>
      <mat-hint *ngIf="formData.moneda === 'DOLAR' && formData.costo_venta ">Tipo de cambio: {{ formData.tasa_cambio }}, En soles: S/.{{ calculateSoles('costo') | number : '1.2-2' }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="col1" appearance="fill" floatLabel="always">
      <mat-label class="sale-value-label">Valor de venta {{ formData.moneda === 'SOL' ? 'en soles' : 'en dolares' }}</mat-label>
      <input  [(ngModel)]="formData.valor_venta" #validCostValue="ngModel" name="valor_venta" required matInput type="number"
      class="sale-value-input">
      <span matPrefix>{{ formData.moneda === 'SOL' ? 'S/.' : '$' }}&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-hint *ngIf="validCostValue.invalid && (validCostValue.dirty || validCostValue.touched)" class="error-hint">Campo requerido</mat-hint>
      <mat-hint *ngIf="formData.moneda === 'DOLAR' && formData.valor_venta ">Tipo de cambio: {{ formData.tasa_cambio }}, En soles: S/.{{ calculateSoles('valor') | number : '1.2-2' }}</mat-hint>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label class="status-label">Estado registro</mat-label>
      <input matInput type="text" disabled class="status-value">
    </mat-form-field> -->

    <mat-form-field class="col2" appearance="outline">
      <mat-label class="payment-method-label">Forma de pago</mat-label>
      <mat-select class="payment-method-input" #validPaymentMethod="ngModel" [(ngModel)]="formData.forma_pago" required
      name="forma_pago" [(value)]="selectedPaymentMethod" [disabled]="selectedServiceType ? false : true">
        <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.forma_pago">
          {{ paymentMethod.forma_pago  | titlecase }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validPaymentMethod.invalid && (validPaymentMethod.dirty || validPaymentMethod.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <mat-form-field class="col1" appearance="fill" floatLabel="always">
      <mat-label class="sale-value-label">Tarifa promedio en soles</mat-label>
      <input [(ngModel)]="formData.tarifa" [value]="formData.horas_venta && formData.valor_venta ? calculateRate() : 0 " #validRate="ngModel" name="tarifa" required matInput type="number"
      class="sale-value-input" disabled>
      <span matPrefix>S/.&nbsp;</span>

      <mat-hint *ngIf="validRate.invalid && (validRate.dirty || validRate.touched)" class="error-hint">Campo requerido</mat-hint>
    </mat-form-field>

    <div class="btn-area row5">
      <button type="submit" mat-raised-button class="save-btn" [disabled]="serviceForm.invalid">Guardar</button>
      <button mat-raised-button class="cancel-btn">Cancelar</button>
    </div>
  </form>

</mat-card>

<pre>{{formData | json}}</pre>

