<div class="filter">
  <div [formGroup]="formImboxFilter" class="filter-fields">
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="cboxClient">
        <mat-option value="">Todos</mat-option>
        <mat-option
          *ngFor="let client of clientList"
          [value]="client.cod_cliente"
          >{{ client.nombre_corto }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Linea de Negocio</mat-label>
      <mat-select formControlName="cboxLN">
        <mat-option value="">Todos</mat-option>
        <mat-option
          *ngFor="let ln of businessLineList"
          [value]="ln.cod_linea_servicio"
          >{{ ln.cod_linea_servicio }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>N° documento</mat-label>
      <input
        formControlName="inputDocNumber"
        matInput
        minlength="8"
        maxlength="15"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombres y apellidos</mat-label>
      <input formControlName="inputNames" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="cboxStatus">
        <mat-option value="">Todos</mat-option>
        <mat-option value="Pendiente Aprobacion"
          >Pendiente Aprobacion</mat-option
        >
        <mat-option value="Pendiente Aprobacion GG"
          >Pendiente Aprobacion GG</mat-option
        >
        <mat-option value="Aprobado">Aprobado</mat-option>
        <mat-option value="Rechazado">Rechazado</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- <h2>formImboxFilter</h2>
<pre>
  {{ formImboxFilter.value | json }}
  valid: {{ formImboxFilter.valid }}
</pre> -->
