<div class="approve-hiring">
  <div class="approve-hiring--container">
    <h1 class="approve-hiring--title">
      Aprobación de Contratación de Colaboradores
    </h1>

    <!-- Form Start -->
    <form class="approve-hiring--form" [formGroup]="formApproveHiringRequest">
      <mat-card class="form--title">Datos del Colaborador</mat-card>

      <div class="form--collaborator">
        <div class="collaborator--row1">
          <mat-form-field>
            <mat-label>Tipo documento</mat-label>
            <input matInput formControlName="cBoxDocumentType" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>N° documento</mat-label>
            <input matInput formControlName="inputDocumentNumber" />
          </mat-form-field>
          <!-- Start id hiring Request  -->
          <mat-form-field class="invisible">
            <mat-label>ID</mat-label>
            <input formControlName="inputIdHiringRequest" matInput required />
          </mat-form-field>
          <!-- End id hiring Request  -->

          <!-- <div class="offset"></div> -->

          <div class="offset"></div>

          <div class="offset"></div>
        </div>

        <div class="collaborator--row2">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input formControlName="inputNameColl" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Paterno</mat-label>
            <input formControlName="inputLastname" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Materno</mat-label>
            <input formControlName="inputLastnameMt" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>F. Nacimiento</mat-label>
            <input matInput formControlName="inputBithDate" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker_f_fin></mat-datepicker>
          </mat-form-field>

          <div class="offset"></div>
        </div>

        <div class="collaborator--row3">
          <mat-form-field>
            <mat-label>N° Celular</mat-label>
            <input formControlName="inputPhone" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input formControlName="inputEmail" matInput type="email" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input formControlName="inputAddress" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Provincia </mat-label>
            <input formControlName="inputProvince" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Distrito </mat-label>
            <input formControlName="inputDistrict" matInput required />
          </mat-form-field>
        </div>
      </div>

      <div class="form--contract">
        <mat-card class="form--title">Datos del Contrato</mat-card>

        <div class="contract--row1">
          <mat-form-field>
            <mat-label>Cliente</mat-label>

            <input formControlName="cBoxClient" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Linea de Negocio</mat-label>

            <input formControlName="cBoxBusinessLine" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Puesto</mat-label>

            <input formControlName="cBoxProfile" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nivel</mat-label>

            <input formControlName="cBoxLevel" matInput required />
          </mat-form-field>
        </div>

        <div class="contract--row2">
          <mat-form-field>
            <mat-label>Banda Salarial </mat-label>
            <input
              disabled
              value="Min: {{
                salaryBandObj.minimo | currency: 'S/ ':'symbol':'1.0'
              }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <---> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max: {{
                salaryBandObj.maximo | currency: 'S/ ':'symbol':'1.0'
              }}"
              matInput
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Modalidad</mat-label>

            <input formControlName="cBoxmodality" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Remuneración</mat-label>
            <input
              maxlength="5"
              formControlName="inputRemuneration"
              matInput
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bono</mat-label>
            <input maxlength="5" formControlName="inputMonthlyBonus" matInput />
          </mat-form-field>
        </div>

        <div class="contract--row3">
          <mat-form-field>
            <mat-label>EPS</mat-label>

            <input maxlength="5" formControlName="cBoxEPS" matInput />
          </mat-form-field>

          <mat-radio-group>
            <mat-form-field>
              <mat-label>Asumo del costo (MDP)</mat-label>

              <input formControlName="cBoxBearCost" matInput />
            </mat-form-field>

            <mat-checkbox formControlName="rbSCTR">SCTR</mat-checkbox>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>F. Inicio</mat-label>
            <input matInput formControlName="inputDateStart" required />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker_f_fin></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>F. Fin</mat-label>
            <input matInput formControlName="inputDateEnd" required />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker_f_fin></mat-datepicker>
          </mat-form-field>
          <!-- <div class="offset"></div> -->
        </div>

        <div class="contract--row4">
          <mat-form-field>
            <mat-label>Condición</mat-label>
            <input formControlName="inputCondition" matInput />
          </mat-form-field>

          <mat-radio-group class="contract--asig-family">
            <mat-checkbox
              [disabled]="!isPendingHiringRequestRRHH(statusHiringRequest)"
              formControlName="cboxAsig"
              >Asig. familiar</mat-checkbox
            >
          </mat-radio-group>
        </div>
      </div>

      <div class="form--buttons">
        <button
          *ngIf="isPendingHiringRequestGG(statusHiringRequest)"
          (click)="onApproveGG(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Aceptar
        </button>

        <button
          *ngIf="isPendingHiringRequestGG(statusHiringRequest)"
          (click)="onReject(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="accent"
        >
          Rechazar
        </button>

        <button
          *ngIf="isPendingHiringRequestRRHH(statusHiringRequest)"
          (click)="onApprove(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Aceptar
        </button>

        <button
          *ngIf="isPendingHiringRequestRRHH(statusHiringRequest)"
          (click)="onReject(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="accent"
        >
          Rechazar
        </button>
        <button
          type="button"
          (click)="onCancel()"
          mat-raised-button
          color="basic"
        >
          Cancelar
        </button>
      </div>
    </form>
    <!-- Form End -->
  </div>
</div>
