<div class="approve-hiring">
  <div class="approve-hiring--container">
    <h1 class="approve-hiring--title">
      Aprobación de Contratación de Colaboradores
    </h1>

    <!-- Form Start -->
    <form class="approve-hiring--form" [formGroup]="formApproveHiringRequest">
      <mat-card class="form--title">Datos del Colaborador</mat-card>

      <div class="form--collaborator">
        <div class="collaborator--row1">
          <mat-form-field>
            <mat-label>Tipo documento</mat-label>
            <mat-select formControlName="cBoxDocumentType" required>
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="RUC">RUC</mat-option>
              <mat-option value="CE">Carné de extranjería</mat-option>
              <mat-option value="PA">Pasaporte</mat-option>
              <mat-option value="PN">Part. Nacimiento</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>N° documento</mat-label>
            <input
              matInput
              [maxlength]="documentMaxLength"
              [minlength]="documentMaxLength"
              formControlName="inputDocumentNumber"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="cboxCompany" required>
              <mat-option value="MDP">MDP</mat-option>
              <mat-option value="CEOL">CEOL</mat-option>
              <mat-option value="BRACING">BRACING</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="offset"></div>

          <div class="offset"></div>
        </div>

        <div class="collaborator--row2">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input formControlName="inputNameColl" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Paterno</mat-label>
            <input formControlName="inputLastname" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Materno</mat-label>
            <input formControlName="inputLastnameMt" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="cboxSex" required>
              <mat-option value="M">M</mat-option>
              <mat-option value="F">F</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>F. Nacimiento</mat-label>
            <input
              matInput
              formControlName="inputBithDate"
              [matDatepicker]="picker_nacimiento"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker_nacimiento"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker_nacimiento></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="collaborator--row3">
          <mat-form-field>
            <mat-label>N° Celular</mat-label>
            <input
              formControlName="inputPhone"
              matInput
              required
              maxlength="11"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input
              formControlName="inputEmail"
              matInput
              type="email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input formControlName="inputAddress" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Provincia </mat-label>
            <input formControlName="inputProvince" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Distrito </mat-label>
            <input formControlName="inputDistrict" matInput required />
          </mat-form-field>
        </div>
      </div>

      <div class="form--contract">
        <mat-card class="form--title">Datos del Contrato</mat-card>

        <div class="contract--row1">
          <mat-form-field>
            <mat-label>Cliente</mat-label>

            <input formControlName="cBoxClient" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Linea de Negocio</mat-label>

            <input formControlName="cBoxBusinessLine" matInput required />
          </mat-form-field>

          <mat-form-field *ngIf="businessLineValue !== 'ATIS'; else offset">
            <mat-label>Proyecto area</mat-label>
            <input formControlName="inputArea" matInput />
          </mat-form-field>

          <ng-template #offset>
            <div class="offset"></div>
          </ng-template>

          <mat-form-field>
            <mat-label>Horario Laboral</mat-label>
            <input formControlName="inputWorkingHours" matInput />
          </mat-form-field>
        </div>

        <div class="contract--row2">
          <mat-form-field>
            <mat-label>Puesto</mat-label>

            <input formControlName="cBoxProfile" matInput required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nivel</mat-label>

            <input formControlName="cBoxLevel" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Banda Salarial </mat-label>
            <input
              disabled
              value="Min: {{
                salaryBandObj.minimo | currency: 'S/ ':'symbol':'1.0'
              }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <---> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max: {{
                salaryBandObj.maximo | currency: 'S/ ':'symbol':'1.0'
              }}"
              matInput
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Modalidad</mat-label>

            <input formControlName="cBoxmodality" matInput required />
          </mat-form-field>
        </div>

        <div class="contract--row3">
          <mat-form-field>
            <mat-label>Remuneración</mat-label>
            <input
              maxlength="5"
              formControlName="inputRemuneration"
              matInput
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bono</mat-label>
            <input maxlength="5" formControlName="inputMonthlyBonus" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tarifa</mat-label>
            <input maxlength="5" formControlName="inputTarifa" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Productividad</mat-label>
            <input maxlength="5" formControlName="inputProductivity" matInput />
          </mat-form-field>
        </div>

        <div class="contract--row3">
          <mat-form-field>
            <mat-label>F. Inicio</mat-label>
            <input matInput formControlName="inputDateStart" required />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker_f_fin></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>F. Fin</mat-label>
            <input matInput formControlName="inputDateEnd" required />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker_f_fin></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Asignacion de equipo</mat-label>
            <input formControlName="inputTeamAsignment" matInput />
          </mat-form-field>

          <mat-form-field *ngIf="!cvHas; else cv_url">
            <mat-label>Adjuntar CV</mat-label>
            <ngx-mat-file-input (change)="upload($event)"></ngx-mat-file-input>
            <mat-hint> Máximo 2mb (pdf /doc /docx)</mat-hint>
          </mat-form-field>

          <ng-template #cv_url>
            <div class="cv">
              <a (click)="goToLink(cvHas)" target="_blank">{{ cvHas }}</a>
            </div>
          </ng-template>
        </div>

        <div class="contract--row4">
          <mat-form-field>
            <mat-label>Jefe Responsable</mat-label>
            <textarea formControlName="inputJefeResponsable" matInput></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Condición</mat-label>
            <textarea formControlName="inputCondition" matInput></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Motivo de rechazo</mat-label>
            <textarea formControlName="inputReasonReject" matInput></textarea>
          </mat-form-field>

          <mat-radio-group class="contract--asig-family">
            <mat-checkbox
              [disabled]="!isPendingHiringRequestRRHH(statusHiringRequest)"
              formControlName="cboxAsig"
              >Asig. familiar</mat-checkbox
            >
          </mat-radio-group>
        </div>
      </div>

      <div class="form--buttons">
        <button
          *ngIf="isPendingHiringRequestGG(statusHiringRequest)"
          (click)="onApproveGG(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Aceptar
        </button>

        <button
          *ngIf="isPendingHiringRequestGG(statusHiringRequest)"
          (click)="onReject(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="accent"
        >
          Rechazar
        </button>

        <button
          *ngIf="isPendingHiringRequestRRHH(statusHiringRequest)"
          (click)="onApprove(idHiringRequest)"
          [disabled]="formApproveHiringRequest.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Aceptar
        </button>

        <button
          *ngIf="isPendingHiringRequestRRHH(statusHiringRequest)"
          (click)="onReject(idHiringRequest)"
          type="submit"
          mat-raised-button
          color="accent"
        >
          Rechazar
        </button>
        <button
          type="button"
          (click)="onCancel()"
          mat-raised-button
          color="basic"
        >
          Cancelar
        </button>
      </div>
    </form>
    <!-- Form End -->
  </div>
</div>
