<h1 mat-dialog-title>Registro de solicitud de renovación de contrato</h1>

<section mat-dialog-content>
  <h2>Datos del colaborador</h2>
  <div class="collaborator-data">
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Línea de negocio</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número de documento</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput>
    </mat-form-field>

  </div>
</section>
