<!-- Service Map Start -->
<div class="title">
  <h1>Mapa de Servicios</h1>
</div>

<!-- Options -->
<main>
  <div class="main-container">
    <div>
    <form class="filters--container">
      <mat-form-field class="px-2">
        <mat-label>Cliente</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="px-2">
        <mat-label>Linea de negocio</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="px-2">
        <mat-label>Estado</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>

      <div class="filters--btns">
        <button mat-raised-button color="primary">Buscar</button>
      </div>
    </form>
  </div>

    <div>
      <button mat-raised-button color="primary">Crear Servicio</button>
    </div>
  </div>
</main>
