<div class="renovation-container">
  <h2>Datos del colaborador</h2>
  <div class="data-collaborator">
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <input type="text" matInput disabled [(ngModel)]="this.formData.nombre_corto">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Línea de negocio</mat-label>
      <input type="text" matInput disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número de documento</mat-label>
      <input type="text" matInput disabled [(ngModel)]="this.formData.nro_documento">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput disabled [(ngModel)]="this.formData.nombres">
    </mat-form-field>
  </div>

    <h2>Datos de renovación</h2>
    <div class="data-renovation">

      <div class="conditions-group">
        <div>
          <mat-radio-group>
            <mat-radio-button #mismasCondiciones value="mismasCondiciones" disabled>
              Mismas condiciones
            </mat-radio-button>
  
            <mat-radio-button #cambioContractual value="cambioContractual" disabled>
              Cambio contractual
            </mat-radio-button>
          </mat-radio-group>
        </div>
        

        <mat-form-field>
          <mat-label>Empresa</mat-label>
          <input type="text" matInput disabled [(ngModel)]="this.formData.empresa">
        </mat-form-field>
      </div>

      <div class="checkboxs" *ngIf="this.mismasCondRadio &&
      this.mismasCondRadio.checked == false">
        <mat-checkbox [(ngModel)]="this.nvaModalidad">
          Nueva modalidad
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="this.nvoSueldo">
          Nuevo sueldo
        </mat-checkbox>

        <mat-checkbox  [(ngModel)]="this.nvoBono">
          Nuevo bono
        </mat-checkbox>

        <mat-checkbox  [(ngModel)]="this.nvoPuesto">
          Nuevo puesto
        </mat-checkbox>

        <mat-checkbox  [(ngModel)]="this.nvoNivel">
          Nuevo nivel de puesto
        </mat-checkbox>
      </div>

      <div class="renovation-detail">
        <div>
          <mat-form-field>
            <mat-label>Modalidad</mat-label>
            <input type="text" matInput [disabled]="!this.nvaModalidad"
             [(ngModel)]="this.formData.modalidad" >
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Remuneración</mat-label>
            <input type="number" matInput [disabled]="!this.nvoSueldo"
            [(ngModel)]="this.formData.remuneracion">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Bono</mat-label>
            <input type="number" matInput [disabled]="!this.nvoBono" max="600"
            [(ngModel)]="this.formData.bono_men">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Modalidad Bono</mat-label>
            <input type="text" matInput disabled [(ngModel)]="this.formData.modalidad_bono">
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <mat-label>Puesto</mat-label>
            <input type="text" matInput [disabled]="!this.nvoPuesto"
            [(ngModel)]="this.formData.puesto">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Nivel</mat-label>
            <input type="text" matInput [disabled]="!this.nvoNivel"
            [(ngModel)]="this.formData.nivel">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Fecha de fin <b>(contrato anterior)</b></mat-label>
            <input type="text" matInput disabled 
            [ngModel]="this.formData.fecha_fin_ant | date:'dd/M/yyyy'"
            (ngModelChange)="this.formData.fecha_fin_ant=$event"
            >
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <mat-label>Fecha de inicio <b>(contrato nuevo)</b></mat-label>
            <input type="text" matInput disabled 
            [ngModel]="this.formData.fecha_inicio_nuevo | date:'dd/M/yyyy'"
            (ngModelChange)="this.formData.fecha_inicio_nuevo=$event"
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha de fin <b>(contrato nuevo)</b></mat-label>
            <input type="text" matInput #contratoNuevo disabled 
            [ngModel]="this.formData.fecha_fin_nuevo | date:'dd/M/yyyy'"
            (ngModelChange)="this.formData.fecha_fin_nuevo=$event"
            >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Motivo rechazo</mat-label>
            <textarea 
              id="text-area"
              matInput 
              placeholder="Motivo del rechazo" 
              [(ngModel)]="this.formData.motivo_rechazo"
              [disabled]="this.state"
              required
              >
            </textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="btn-area">
      <button 
        type="submit" 
        class="accept-btn" 
        mat-raised-button
        (click)="acceptRenovation()"
        *ngIf="this.state"
      >
        Aceptar
      </button>
      <button 
        type="submit" 
        class="refuse-btn" 
        mat-raised-button
        (click)="refuseRenovation()"
        *ngIf="this.state"
        [disabled]="formData.motivo_rechazo == '' || formData.motivo_rechazo == null"
      >
        Rechazar
      </button>
      <button 
        type="button" 
        class="cancel-btn" 
        mat-raised-button
        routerLink="/contract-imbox"
      >
        Cancelar
      </button>
    </div>
</div>
