.home--container {
  margin-top: 40px;
  padding-left: 20px;
  ol,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 7px;
  }
}

div.home--container {
  display: inline-block;
  background-color: black;
}

.home--sidebar {
  display: inline-block;
}

//  .home--routes {
//   display: inline-block;
//   width: 100%
// }
// .test
// {

//   width: 100vw;
// }