.home {
  width: calc(100% - 60px);
  display: inline-block;
  margin-left: 60px;
}

.home--container {
  width: 90%;
  margin: 0 auto 0 auto;
  display: block;

  ol,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 7px;
  }
}
