<div class="assigned-team">
  <div class="box">
    <mat-card class="mat-elevation-z6">
      <mat-card-title class="assigned-team--title"
        >Equipo asignado
      </mat-card-title>
      <div class="assigned-team--container">
        <form [formGroup]="formAssignedTeam" (submit)="ngSubmit()">
          <div class="assigned-team--row1">
            <mat-form-field>
              <mat-label>Nro. Documento</mat-label>
              <input
                matInput
                maxlength="15"
                formControlName="inputDocumentNumber"
              />
              <mat-icon matSuffix>more_horiz</mat-icon>
              <mat-error>{{ printErrors.message }}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="inputName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Perfil</mat-label>

              <mat-select formControlName="cboxProfile" required>
                <mat-option
                  *ngFor="let profile of profileList"
                  [value]="profile.cod_perfil"
                  >{{ profile.nombre_perfil | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nivel</mat-label>
              <mat-select formControlName="cboxLevel" required>
                <mat-option value="junior">Junior</mat-option>
                <mat-option value="semisenior">Semi Senior</mat-option>
                <mat-option value="senior">Senior</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="assigned-team--row2">
            <mat-form-field>
              <mat-label>Fecha Inicio</mat-label>
              <input
                matInput
                formControlName="dpDateStart"
                [matDatepicker]="dpF_start"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dpF_start"
              ></mat-datepicker-toggle>
              <mat-datepicker #dpF_start></mat-datepicker>
              <mat-error>{{ printErrors.message }}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Fecha Fin</mat-label>
              <input
                matInput
                formControlName="dpDateEnd"
                [matDatepicker]="dpF_end"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="dpF_end"
              ></mat-datepicker-toggle>
              <mat-datepicker #dpF_end></mat-datepicker>
              <mat-error>{{ printErrors.message }}</mat-error>
            </mat-form-field>

            <div class="row2--colspan">
              <mat-form-field>
                <mat-hint>{{ printErrors.hint }}</mat-hint>
                <mat-label>Asignación</mat-label>
                <input
                  matInput
                  maxlength="3"
                  formControlName="inputAssignament"
                />
                <mat-icon matSuffix>%</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <span matPrefix>S/ </span>
                <mat-label>Tarifa</mat-label>
                <input matInput formControlName="inputTariff" />
              </mat-form-field>
            </div>

            <div class="row2--colspan">
              <mat-form-field>
                <mat-label>Horas Asignadas (H)</mat-label>
                <input
                  matInput
                  formControlName="inputHourAssignment"
                  [value]="
                    assignmentHourTotal | currency: ' ':'symbol-narrow':'1.0'
                  "
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Producción Planificada</mat-label>
                <input
                  matInput
                  disabled
                  [value]="productionPlanned | currency: 'S/'"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="assigned-team--row3">
            <button
              mat-raised-button
              [disabled]="formAssignedTeam.invalid"
              type="submit"
              color="primary"
            >
              <mat-icon>save</mat-icon> Guardar
            </button>
            <button
              mat-raised-button
              type="button"
              color="accent"
              (click)="onCancel()"
            >
              <mat-icon>close</mat-icon> Cancelar
            </button>
          </div>
        </form>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 assigned-team--table"
      >
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef>Perfil</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 + ". " + element.puesto | uppercase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Nivel</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nivel | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef>Nombres y apellidos</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombres_apellidos | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignment">
          <th mat-header-cell *matHeaderCellDef>Asignacion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.por_asignacion + "%" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="d_start">
          <th mat-header-cell *matHeaderCellDef>F. Inicio</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha_inicio | date: "dd-MM-YYYY" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="d_end">
          <th mat-header-cell *matHeaderCellDef>F. Fin</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha_fin | date: "dd-MM-YYYY" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hour_assigned">
          <th mat-header-cell *matHeaderCellDef>Horas Asignadas</th>
          <td mat-cell *matCellDef="let element">
            {{ element.horas_asignacion | currency: " ":"symbol":"1.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="prod_planned">
          <th mat-header-cell *matHeaderCellDef>prod_planificadas</th>
          <td mat-cell *matCellDef="let element">
            {{ element.prod_planificada | currency: "S/":"symbol":"1.2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action_edit">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="assigned-team--button edit-icon"
              type="button"
              [disabled]="serviceResponse.cod_asignacion"
              (click)="editAssignment(element)"
              [ngClass]="{
                'btn-disabled': serviceResponse.cod_asignacion
              }"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="action_delete">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="assigned-team--button delete-icon"
              type="button"
              (click)="deleteAssignment(element)"
              [disabled]="serviceResponse.cod_asignacion"
              [ngClass]="{
                'btn-disabled': serviceResponse.cod_asignacion
              }"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
        ></tr>
      </table>
    </mat-card>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
