@import "../../../assets/scss/variables.scss";

.detail {
  position: fixed;
  top: 0;
  left: 65%;
  bottom: 0;
  right: 0;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  transform: translateX(+100%);
  transition: all ease-out .5s;
  &.active {
    transform: translateX(0);
  }
}

h2{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.detail-content{
  padding: 1.2em;
}

.service-table{
  width: 100%;
}

th.mat-header-cell{
  background-color: var(--primary);
  color: var(--white);
}

.mat-tab-group.mat-background-primary>.mat-tab-header{
  background-color: var(--primary);
}

.mat-tab-body-content > button {
  background-color: var(--primary);
  color: var(--white);
}
