@import "../../../assets/scss/variables.scss";

.detail {
  padding: 1em 1em 0;
  background: var(--white);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
  /* transform: translateX(+100%);
  transition: all ease-out .5s; */
  &.active {
    /* transform: translateX(0); */
    display: inline-block;
    width: 20%;
    position: absolute;
    right: 0;
    top: 50px; //altura del header
    bottom: 0;
  }
  z-index: 2;
}

.detail-container{
  display: flex;
  flex-direction: column;
}

.close-icon {
  width: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.mat-typography h2{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
  width: 100%;
}

.fila{
  display: flex;
  justify-content: space;
}

li > p {
  text-align: left;
}

.detail-content{
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: row;
}

.detail-contract{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.content-around{
  text-align: center;
}

.button-base{
  margin: 2px;
}

.service-table{
  width: 100%;
}

th.mat-header-cell{
  background-color: var(--primary);
  color: var(--white);
}

.left{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.right{
  width: 55%;
  display: flex;
  flex-direction: column;
}
