<!-- Botón de detalle usado en la rama en la que el componente estaba solo -->
<!-- <button (click)="toggleDetail()" mat-raised-button color="primary">Abrir detalle</button> --> <!-- (click)="loadDetail(1)" -->
<aside class="detail" [class.active]="showDetail">
  <mat-tab-group mat-stretch-tabs dynamicHeight backgroundColor="primary">
    <mat-tab label="Productividad Horas">
      <div class="detail-content">
        <h2>Productividad Horas</h2>
        <ul>
          <li>Horas servicios {{ productivity.horas_servicio }}h</li>
          <li>Licencias {{ productivity.licencias }}h</li>
          <li>Faltas {{ productivity.faltas }}h</li>
          <li>Vacaciones {{ productivity.vacaciones }}h</li>
          <li>Horas extras {{ productivity.horas_extras }}h</li>
          <li>Horas asignadas {{ productivity.total_horas_asignaciones }}h</li>
          <li>Horas facturables {{ productivity.total_horas_facturables }}h</li>
          <li>Eficiencia {{ productivity.eficiencia }}%</li>
          <li>Rendimiento {{ productivity.rendimiento }}%</li>
          <li>Capacidad {{productivity.capacity}}h</li>
        </ul>
      </div>
      <button mat-raised-button (click)="closeDetail()">Cerrar</button>
    </mat-tab>
    <mat-tab label="Datos de Contrato">
      <div class="detail-content">
        <h2>Datos de Contrato</h2>
        <ul>
          <li>Nro de Documento {{ contract.nro_documento }}</li>
          <li>Nombres y Apellidos {{contract.nombres + ' ' + contract.apellido_pat + ' ' + contract.apellido_mat}}</li>
          <li>Modalidad {{ contract.modalidad }}</li>
          <li>Fin de contrato {{ contract.fecha_fin | date:'dd/MM/YYYY' }}</li>
          <li>Salario {{ contract.sueldo_planilla }}</li>
          <li>Bono {{ contract.bono }} </li>
          <li>EPS {{ contract.eps }}</li>
          <li>CLM {{contract.clm }}</li>
        </ul>
      </div>
      <button mat-raised-button (click)="closeDetail()">Cerrar</button>
    </mat-tab>

    <mat-tab label="Servicios Asignados">
      <div class="detail-content">
        <h2>Servicios asignados</h2>
        <table mat-table [dataSource]="tableData" class="service-table">
          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let assignment">{{assignment.tipo_servicio}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Servicio</th>
            <td mat-cell *matCellDef="let assignment">{{assignment.descripcion_servicio}}</td>
          </ng-container>

          <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef>%Asig</th>
            <td mat-cell *matCellDef="let assignment">{{assignment.por_asignacion }}%</td>
          </ng-container>

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Inicio</th>
            <td mat-cell *matCellDef="let assignment">{{assignment.fecha_inicio | date:'dd-MM'}}</td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>Fin</th>
            <td mat-cell *matCellDef="let assignment">{{assignment.fecha_fin | date:'dd-MM'}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
        <button mat-raised-button (click)="closeDetail()">Cerrar</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</aside>
