@import "../../../assets/scss/variables.scss";

.detail {
  position: fixed;
  top: 0;
  left: 80%;
  bottom: 0;
  right: 0;
  padding: 1em 1em 0;
  background: var(--white);
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  transform: translateX(+100%);
  transition: all ease-out .5s;
  &.active {
    transform: translateX(0);
  }
}

.close-icon {
  width: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.mat-typography h2{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
  width: 100%;
}

li > p {
  text-align: left;
}

.detail-content{
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: row;
}

.service-table{
  width: 100%;
}

th.mat-header-cell{
  background-color: var(--primary);
  color: var(--white);
}

.mat-tab-group.mat-background-primary>.mat-tab-header{
  background-color: var(--primary);
}

.mat-tab-body-content > button {
  background-color: var(--primary);
  color: var(--white);
  margin-left: 1.2em;
}

