<br>
<p>Facturación</p>
<mat-card class="mat-elevation-z6">

    <form #serviceForm="ngForm" class="service-form" [formGroup]="resourceForm" (submit)="ngSubmit()">
      <mat-form-field class="row1" appearance="outline">
        <mat-label class="label">Nombre del hito</mat-label>
        <input id="nameHito" formControlName="nameHito" class="name-input" 
        matInput 
        type="text" placeholder="Nombre del hito" required>

      </mat-form-field>  
      
      <mat-form-field class="row1" appearance="outline">
        <mat-label class="label">Fecha Inicio</mat-label>
        <input formControlName="start_date" type="date" matInput
        class="start-date-input" placeholder="Fecha Inicio" required>
        <mat-hint class="error-hint" *ngIf="isIncorrectStartDateService">Fecha inicio del hito debe ser mayor a la fecha inicio del servicio</mat-hint>
        <mat-hint class="error-hint" *ngIf="isIncorrectStartDate">Fecha inicio del hito debe ser menor a la fecha fin del hito</mat-hint>
        <mat-hint class="error-hint" *ngIf="isIncorrectStartDateEndDateService">Fecha inicio del hito debe ser menor a la fecha fin del servicio</mat-hint>
      </mat-form-field>  

      <mat-form-field class="row1" appearance="outline">
        <mat-label class="label">Fecha Fin</mat-label>
        <input formControlName="end_date" type="date" 
        matInput min="{{serviceForm.value.start_date}}"
        class="end-date-input" placeholder="Fecha Fin" required>
        <mat-hint class="error-hint" *ngIf="isIncorrectEndDateService">Fecha fin del hito debe ser menor a la fecha fin del servicio</mat-hint>
        <mat-hint class="error-hint" *ngIf="isIncorrectEndDate">Fecha fin del hito debe ser mayor a la fecha inicio del hito</mat-hint>
        <mat-hint class="error-hint" *ngIf="isIncorrectEndDateStartDateService">Fecha fin del hito debe ser mayor a la fecha inicio del servicio</mat-hint>
      </mat-form-field>  

      <mat-form-field class="row2" appearance="outline">
        <mat-label class="label">Horas</mat-label>
        <input formControlName="hours" type="number" 
        matInput min="1"
        class="" placeholder="Horas" required>
        <mat-hint class="error-hint" *ngIf="isIncorrectHour">La suma de horas de los hitos no pueden superar a las horas del servicio</mat-hint>
      </mat-form-field>
      
      <mat-form-field class="row2" appearance="outline">
        <mat-label class="label">Monto</mat-label>
        <input formControlName="amount" type="number" 
        matInput min="1"
        class="" placeholder="Monto" required>
        <mat-hint class="error-hint" *ngIf="isIncorrectAmount">La suma de montos de los hitos no pueden superar al presupuesto del servicio</mat-hint>
      </mat-form-field>
      <button
        [disabled]="resourceForm.invalid || disableBilling"
        type="submit"
        mat-raised-button
        class="save-button"
      >
        {{isUpdate == true ? "Actualizar" : "Guardar" }}
      </button>
    </form>
    <div class="table--container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="numero_hito">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Nro. Hito</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.numero_hito }}
                </td>
              </ng-container>

              <ng-container matColumnDef="descripcion_hito">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Nombre del Hito</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.descripcion_hito }}
                </td>
              </ng-container>

              <ng-container matColumnDef="horas">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Horas</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.horas }}
                </td>
              </ng-container>
              
              <ng-container matColumnDef="monto">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Monto</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.monto }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fecha_inicio">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.fecha_inicio | date: "dd/MM/YYYY"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="fecha_fin">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.fecha_fin | date: "dd/MM/YYYY"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Acciones</th>
                <td class="table-values" style="padding: 0;" mat-cell *matCellDef="let element">
                  <button class="edit-button" (click)="updateHito(element)" mat-button><mat-icon class="edit-icon">edit</mat-icon></button>
                  <button class="delete-button" (click)="deleteHito(element)" mat-button><mat-icon class="delete-icon">delete</mat-icon></button>
                </td>
                
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                class="mat-table--header"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="pagination--container">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card>
