<p>Facturación</p>
<div class="form-container">
    <form class="service-form" [formGroup]="resourceForm" (submit)="ngSubmit()">
        <mat-label class="label row1">Nombre del hito</mat-label>
        <input formControlName="nameHito" class="name-input row1" type="text" placeholder="Nombre del hito">

        <mat-label class="label row1">Fecha Inicio</mat-label>
        <input formControlName="start_date" type="date" class="start-date-input row1" placeholder="Fecha Inicio">

        <mat-label class="label row1">Fecha Fin</mat-label>
        <input formControlName="end_date" type="date" class="end-date-input row1" placeholder="Fecha Fin">

        <mat-label class="label row2">Horas</mat-label>
        <input formControlName="hours" type="number" class="row2" placeholder="Horas">

        <mat-label class="label row2">Monto</mat-label>
        <input formControlName="amount" type="number" class="row2" placeholder="Monto">

        <button
          type="submit"
          mat-raised-button
          class="row2 save-button"
        >
          {{this.isUpdate == true ? "Actualizar" : "Guardar" }}
        </button>
    </form>

    <div class="table--container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="cod_servicio">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Nro. Hito</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.cod_servicio  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="descripcion_hito">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Nombre del Hito</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.descripcion_hito }}
                </td>
              </ng-container>

              <ng-container matColumnDef="horas">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Horas</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.horas }}
                </td>
              </ng-container>
              
              <ng-container matColumnDef="monto">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Monto</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.monto }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fecha_inicio">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.fecha_inicio | date: "dd/MM/YYYY"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="fecha_fin">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                <td class="table-values" mat-cell *matCellDef="let element">
                  {{ element.fecha_fin | date: "dd/MM/YYYY"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th class="table-headers" mat-header-cell *matHeaderCellDef>Acciones</th>
                <td class="table-values" style="padding: 0;" mat-cell *matCellDef="let element">
                  <button class="edit-button" (click)="updateHito(element)" mat-button><mat-icon class="edit-icon">edit</mat-icon></button>
                  <button class="delete-button" (click)="deleteHito(element)" mat-button><mat-icon class="delete-icon">delete</mat-icon></button>
                </td>
                
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                class="mat-table--header"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="pagination--container">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
</div>
