* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.service-form {
    padding: 1rem;
    display: grid;
    justify-items: start;
    row-gap: 5%;
}

.label {
    font-family: var(--font-family);
}

.save-button {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 0rem 1rem 2rem 1rem;
}

.actions {
    padding-right: 0rem;
}

.table-headers {
    text-align: center;
}

.table-values {
    text-align: center;
}

.edit-icon {
    color: rgb(255, 221, 0);
    padding: 0;
    margin: 0;
}

.delete-icon {
    color: red;
    padding: 0;
    margin: 0;
}

.edit-button {
    padding: 0rem;
    margin: 0rem;
}

.delete-button {
    padding: 0rem;
    margin: 0rem;
}

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 0px 0px 1px rgba(0, 0, 0, 0.12) !important;

}

.table--container {
    width: 90%;
    margin: 0 auto;
}

.row1 {
    grid-row-start: 1;
    height: 1.5rem;
}

.row2 {
    grid-row-start: 2;
    height: 1.5rem;
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.col4 {
    grid-column-start: 4;
}

.col5 {
    grid-column-start: 5;
}

.col6 {
    grid-column-start: 6;
}
